player-connection-mode=Listen
player-connection-guid=2569597959
player-connection-debug=0
player-connection-project-name=Gwent-Pro-2D-RPV
player-connection-ip=10.2.0.2
player-connection-ip=192.168.227.184
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f9fba6c9e1ef437a91727a575bce6bd1
