player-connection-mode=Listen
player-connection-guid=1019810495
player-connection-debug=0
player-connection-project-name=Gwent-Pro-2D-RPV
player-connection-ip=10.2.0.2
player-connection-ip=192.168.161.184
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=dd6c9b1b561d4e0183560f0cbd58875d
