player-connection-mode=Listen
player-connection-guid=3495865500
player-connection-debug=0
player-connection-project-name=Unity Gwent-Pro-2D-RPV
player-connection-ip=10.2.0.2
player-connection-ip=192.168.0.184
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=079085cc2d34493a939daaef04f14173
